#main {
  margin-top: 20px;
}

.left-buttons, .right-buttons {
  width: 50%;
  float: left;
}

.select, .delete, .upload, .addref {
  margin: 0 10px;
}

.addref-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(54, 44, 44, 0.3);
  display: none;
  visibility: hidden;
}

.addref-container {
  width: 530px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  border: 2px solid #000;
  border-radius: 25px;
}
